:root {
  --primary-font: "Poppins";
  --primary-color: #289bde;
}

/* .edu-text {
  font-family: var(--primary-font);
} */

body {
  font-family: var(--primary-font) !important;
}
.dark-shade {
  filter: brightness(60%);
}
.etutor-btn {
  background-color: var(--primary-color);
}
