:root {
  --primary-font: "Poppins";
  --primary-color: #289bde;
}

/* .edu-text {
  font-family: var(--primary-font);
} */

body {
  font-family: var(--primary-font) !important;
}
.dark-shade {
  filter: brightness(60%);
}
/* .etutor-btn {
  background-color: var(--primary-color);
} */

.single-card-bg {
  background-color: #f4fafd;
}

.etutor-btn {
  width: 200px;
  height: 50px;
}

.etutor-me {
  margin-right: 20%;
}

.etutor-mt {
  margin-top: 130px;
}
.edtutor-mb {
  margin-bottom: 65px;
}

.rating .fa-star.rating-clr {
  color: gold;
}

.card-text {
  position: relative;
}

.left-arrow i {
  position: absolute;
  top: 60px;
  left: -40px;
}
.right-arrow i {
  position: absolute;
  top: 60px;
  right: -40px;
}

.etutor-prev-btn {
  font-size: 40px;
  color: #e5f6ff;
}
.etutor-next-btn {
  font-size: 40px;
  color: #289bde;
}
.social-icon {
  font-size: 2rem;
}
.etutor-text {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
}
